.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: palevioletred;
  border: 3px solid #855a5a;
  border-radius: 18px;
  
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
  border-radius: 18px;
  border: 3px solid #665656;
  background-color: lightsalmon;
}

input,
textarea {
  padding: 8px;
  font: inherit;
  border-radius: 18px;
  border: 3px solid #665656;
  background-color: darkkhaki;
}

textarea {
  resize: none;
}

.feedback-button{
  border-radius: 18px;
  border: 3px solid #665656;
  margin-bottom: 25px;
  background-color: lightsalmon;
  color:#855a5a;
  text-decoration: none;

}

.text-button{
  font-size: 14px;
}